In [5]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install scipy
!pip install scikit-learn

!pip install xlrd
!pip install openpyxl

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import sklearn
%matplotlib inline

Requirement already satisfied: pandas in /home/lucienwalewski/.local/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.16.5 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: numpy in /home/lucienwalewski/.local/lib/python3.8/site-packages (1.20.3)
Requirement already satisfied: matplotlib in /home/lucienwalewski/.local/lib/python3.8/site-packages (3.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.16 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3/dist-packages (from matplotlib) (2.7.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib) (7.0.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from cycler>=0.10->matplotlib) (1.14.0)
Requirement already satisfied: seaborn in /home/lucienwalewski/.local/lib/python3.8/site-packages (0.11.1)
Requirement already satisfied: matplotlib>=2.2 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from seaborn) (3.4.2)
Requirement already satisfied: numpy>=1.15 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from seaborn) (1.20.3)
Requirement already satisfied: pandas>=0.23 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from seaborn) (1.2.4)
Requirement already satisfied: scipy>=1.0 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from seaborn) (1.6.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3/dist-packages (from matplotlib>=2.2->seaborn) (2.7.3)
Requirement already satisfied: cycler>=0.10 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib>=2.2->seaborn) (7.0.0)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas>=0.23->seaborn) (2019.3)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.14.0)
Requirement already satisfied: scipy in /home/lucienwalewski/.local/lib/python3.8/site-packages (1.6.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from scipy) (1.20.3)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp38-cp38-manylinux2010_x86_64.whl (24.9 MB)
     |████████████████████████████████| 24.9 MB 12.2 MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
     |████████████████████████████████| 303 kB 11.8 MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.19.1 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from scikit-learn) (1.6.3)
Requirement already satisfied: numpy>=1.13.3 in /home/lucienwalewski/.local/lib/python3.8/site-packages (from scikit-learn) (1.20.3)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.0.1 scikit-learn-0.24.2 threadpoolctl-2.1.0
Requirement already satisfied: xlrd in /home/lucienwalewski/.local/lib/python3.8/site-packages (2.0.1)
Requirement already satisfied: openpyxl in /home/lucienwalewski/.local/lib/python3.8/site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in /home/lucienwalewski/.local/lib/python3.8/site-packages (from openpyxl) (1.1.0)

In [6]:
DATA_PATH = "../data/"

path = DATA_PATH + "Telco_data_clean.csv"

In [8]:
df = pd.read_csv(path)

In [9]:
df.head()

,Unnamed: 0,Customer ID,Satisfaction Score,Churn Label,CLTV,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,...,Lat Long,Latitude,Longitude,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,0,8779-QRDMV,3,Yes,5433,No,0,1,None,No,...,"34.02381, -118.156582",34.023810,-118.156582,Male,78,No,Yes,No,No,0
1,1,7495-OOKFY,3,Yes,5302,Yes,1,8,Offer E,Yes,...,"34.044271, -118.185237",34.044271,-118.185237,Female,74,No,Yes,Yes,Yes,1
2,2,1658-BYGOY,2,Yes,3179,No,0,18,Offer D,Yes,...,"34.108833, -118.229715",34.108833,-118.229715,Male,71,No,Yes,No,Yes,3
3,3,4598-XLKNJ,2,Yes,5337,Yes,1,25,Offer C,Yes,...,"33.936291, -118.332639",33.936291,-118.332639,Female,78,No,Yes,Yes,Yes,1
4,4,4846-WHAFZ,2,Yes,2793,Yes,1,37,Offer C,Yes,...,"33.972119, -118.020188",33.972119,-118.020188,Female,80,No,Yes,Yes,Yes,1

In [ ]:
clf = sklearn.tree.DecisionTreeClassifier(random_state=0)
cross_val_score(clf, df["Churn Label"])

clf = DecisionTreeClassifier(random_state=0)
iris = load_iris()
cross_val_score(clf, iris.data, iris.target, cv=10)